---
import Tag from '../../components/Tag.astro';
import Layout from '../../layouts/Layout.astro';
import { fetchAuth } from '../../scripts/Authenticate';

const postID = Astro.params.id;
const response = await fetchAuth(`${import.meta.env.API_URL}/posts/${postID}`, Astro.request);
const post = await response.json();

if(post.error) {
	console.log(`Error getting post, redirecting - ${post.error}`)
	return Astro.redirect('/');
}
---

<Layout title='Posts'>
	<div class="postContainer">
		<img src={`/api/posts/${postID}/img`} alt='Post media' />

		<div class="tags">
			<a class="primary light tag"><span style="opacity: 0.75">Poster:</span> {post.authorName}</a>
			{post.tagData && post.tagData.map(tag => (
				<Tag name={tag.name} postCount={tag.postCount} tagClick={`document.location.href='/posts?tags=${tag.name}'`} />
			))}
		</div>

		<br>
		<a href={`/api/posts/${postID}/img`}>View original</a>
	</div>
</Layout>

<style>
	.postContainer {
		max-width: 800px;
	}

	.tags {
		display: flex;
		flex-wrap: wrap;
		gap: 5px;
	}

	img {
		border-radius: var(--rounding);
		width: 100%;
		height: auto;
		max-width: 800px;
	}
</style>